.App {
  text-align: center;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.imgContainer img {
  width: 50%;
}

.navContainer nav {
  display: flex;
  justify-content: space-evenly;
}

.registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 250px;
  height: 40px;
}

.playerDiv {
  display: flex;
  justify-content: center;
}