#root {
  text-align: center;
  font-size: 12px;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.imgContainer img {
  width: 50%;
}

.navContainer {
  margin: 1rem;
}

.navContainer nav {
  display: flex;
  justify-content: space-evenly;
}

.registration,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 250px;
  height: 40px;
}

.playerDiv {
  display: flex;
  justify-content: center;
}

#participant {
  display: none;
}

.tableContainer {
  margin: 1rem;
}

table {
  margin: 0 auto;
}

tbody {
  text-align: center;
}
